<h1>Your Appointment's History</h1>

<a href="/patients/<%=current_patient_user.slug%>/home">Home</a>
<br>

<a href="/patients/<%=current_patient_user.slug%>/appointment_new">New Appointment</a>
<br>

<a href="/patients/<%=current_patient_user.slug%>/profile">Profile</a>
<br>

<a href="/logout">Log Out</a>
<br></br>

  <ol>
    <% current_patient_user.appointments_history.each do |appointment| %>
      <li> <%=appointment.details[:start].strftime('%A')%> <%=appointment.details[:start].strftime('%v')%> at <%=appointment.details[:start].strftime('%R')%></li>
      <% appointment.details[:doctors].each do |doctor| %>
        <ul>
          <li>Doctor: <a href="/patients/<%=current_patient_user.slug%>/doctors/<%=doctor.slug%>"><%= doctor.name %></a></li>
        </ul>
      <% end %>
      <br></br>
    <% end %>
  </ol>
