<h1>Create a New Appointment</h1>

<a href="/patients/<%=current_patient_user.slug%>/home">Home</a>
<br>

<a href="/patients/<%=current_patient_user.slug%>/appointment_history">Appointment History</a>
<br>

<a href="/patients/<%=current_patient_user.slug%>/profile">Profile</a>
<br>

<a href="/logout">Log Out</a>
<br>

<% if flash.has?(:notice) %>
  <h3><%= flash[:notice] %></h3>

<% end %>
<br>

<form action="/patients/<%=current_patient_user.slug%>/appointment_new" method="post">
  <h2>Select a Doctor</h2>
  <%Doctor.all.each do |doctor|%>
    <label for="<%=doctor.id%>">
      <%= doctor.name %>
      <input id="<%=doctor.id%>" type="checkbox" name="doctor[name]" value="<%=doctor.name%>">
    </label>
  <% end %>


  <h2>Or Select a Specialty</h2>
  <%Specialty.all.each do |specialty|%>
    <label for="<%=specialty.id%>">
      <%= specialty.name %>
      <input id="<%=specialty.id%>" type="checkbox" name="doctor[specialty_id]" value="<%=specialty.id%>">
    </label>
  <% end %>

  <h2>Select a Date</h2>
  Day
  <select name="appointment_date[day]">
    <% for i in 1..31 %>
      <option value="<%=i%>"><%=i%></option>
    <% end %>
  </select>

  Month
  <select name="appointment_date[month]">
    <% for i in 1..12 %>
      <option value="<%=i%>"><%=i%></option>
    <% end %>
  </select>

  Year
  <select name="appointment_date[year]">
    <% for i in 2016..2018 %>
      <option value="<%=i%>"><%=i%></option>
    <% end %>
  </select>
  <br></br>

  <h2>Time</h2>
  Hour
  <select name="appointment_date[hour]">
    <% for i in 8..20 %>
      <option value="<%=i%>"><%=i%></option>
    <% end %>
  </select>

  Minute
  <select name="appointment_date[minute]">
    <option value="0">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select>
  <br></br>

  <input type="submit" value="Create Appointment">
</form>
