<h1>All your appointments with the doctor: <%= @doctor.name %></h1>

<a href="/patients/<%=current_patient_user.slug%>/home">Home</a>
<br>

<a href="/patients/<%=current_patient_user.slug%>/appointment_new">New Appointment</a>
<br>

<a href="/patients/<%=current_patient_user.slug%>/appointments_history">Appointment History</a>
<br>

<a href="/patients/<%=current_patient_user.slug%>/profile">Profile</a>
<br>

<a href="/logout">Log Out</a>
<br></br>

  <ol>
    <% current_patient_user.appointments_with(@doctor).each do |appointment| %>
      <li> <%=appointment.details[:start].strftime('%A')%> <%=appointment.details[:start].strftime('%v')%> at <%=appointment.details[:start].strftime('%R')%></li>
      <% appointment.details[:doctors].each do |doctor| %>
        <ul>
          <li>Doctor: <%= doctor.name %></li>
        </ul>
      <% end %>
      <br></br>
    <% end %>
  </ol>
