<h1>Create a New Appointment</h1>

<a href="/doctors/<%=current_doctor_user.slug%>/home">Home</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/profile">Profile</a>
<br>

<a href="/logout">Log Out</a>
<br>

<form action="/doctors/<%=current_doctor_user.slug%>/appointment_new" method="post">
  <h2>Patient Name</h2>
  <p>Name: <input type="text" name="patient_name"></p>

  <h2>Date</h2>
  Day
  <select name="day">
    <% for i in 1..31 %>
      <option value="<%=i%>"><%=i%></option>
    <% end %>
  </select>

  Month
  <select name="month">
    <% for i in 1..12 %>
      <option value="<%=i%>"><%=i%></option>
    <% end %>
  </select>

  Year
  <select name="year">
    <% for i in 2016..2018 %>
      <option value="<%=i%>"><%=i%></option>
    <% end %>
  </select>
  <br></br>

  <h2>Time</h2>
  Hour
  <select name="hour">
    <% for i in 8..20 %>
      <option value="<%=i%>"><%=i%></option>
    <% end %>
  </select>

  Minute
  <select name="minute">
    <option value="0">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select>
  <br></br>

  <input type="submit" value="Create Appointment">
</form>
