<h1>Welcome, <%= current_doctor_user.name %></h1>

<a href="/doctors/<%=current_doctor_user.slug%>/appointment_new">New Appointment</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/profile">Profile</a>
<br>

<a href="/logout">Log Out</a>
<br></br>

<h2>Your Appointments</h2>
  <ol>
    <% current_doctor_user.appointments_all.each do |appointment| %>
      <li><%= appointment[:appointment].start %></li>
      <% appointment[:patients].each do |patient| %>
        <ul>
          <li>Patient: <%= patient.name %></li>
        </ul>
      <% end %>
      <br>
    <% end %>
  </ol>








<!-- <% current_doctor_user.doctor_patients.all.each do |doctor_patient|%>
  <ol>

  <% doctor_patient.appointments.all.each do |appointment| %>
  <li>
    <% patient = Patient.find(doctor_patient.patient_id)%>

      <h3>Start: <a href="/appointments/<%=appointment.id%>"><%=appointment.start%></a></h3>
      <ul>
        <li>
          <p>Patient: <a href="/doctors/<%=current_doctor_user.slug%>/patients/<%=patient.slug%>"><%=patient.name%></a></p>
        </li>
      </ul>

    <br></br>
    </li>
  <% end %>

  </ol>
<% end %> -->
