<h1>Welcome, <%= current_doctor_user.name %></h1>

<a href="/doctors/<%=current_doctor_user.slug%>/appointment_new">New Appointment</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/appointments_history">Appointment History</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/profile">Profile</a>
<br>

<a href="/logout">Log Out</a>
<br></br>

<h2>Your Coming Appointments</h2>
  <ol>
    <% current_doctor_user.appointments_coming.each do |appointment| %>
      <li> <%=appointment.details[:start].strftime('%A')%> <%=appointment.details[:start].strftime('%v')%> at <%=appointment.details[:start].strftime('%R')%></li>
      <% appointment.details[:patients].each do |patient| %>
        <ul>
          <li>Patient: <a href="/doctors/<%=current_doctor_user.slug%>/patients/<%=patient.slug%>"><%= patient.name %></a></li>
        </ul>
      <% end %>
      <br>
      <a href="/doctors/<%=current_doctor_user.slug%>/appointments/<%=appointment.id%>/edit">Modify</a>

      <form action="/doctors/<%=current_doctor_user.slug%>/appointments/<%=appointment.id%>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>

      <br></br>
    <% end %>
  </ol>

  <% if flash.has?(:notice) %>
    <h2><%= flash[:notice] %></h2>
  <% end %>
