<h1>Welcome, <%= current_doctor_user.name %></h1>

<a href="/doctors/<%=current_doctor_user.slug%>/appointment_new">New Appointment</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/appointment_history">Appointment History</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/profile">Profile</a>
<br>

<a href="/logout">Log Out</a>
<br></br>

<h2>Your Coming Appointments</h2>
  <ol>
    <% current_doctor_user.appointments_coming.each do |appointment| %>
      <li> <%=appointment.details[:start].strftime('%A')%> <%=appointment.details[:start].strftime('%v')%> at <%=appointment.details[:start].strftime('%R')%></li>
      <% appointment.details[:patients].each do |patient| %>
        <ul>
          <li>Patient: <%= patient.name %></li>
        </ul>
      <% end %>
      <br>
      <a href="/doctors/<%=current_doctor_user.slug%>/appointments/<%=appointment.id%>/edit">Modify</a>
      <a href="#">Delete</a>
      <br></br>
    <% end %>
  </ol>
