<h1>All your appointments with the patient: <%= @patient.name %></h1>

<a href="/doctors/<%=current_doctor_user.slug%>/home">Home</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/appointment_new">New Appointment</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/appointments_history">Appointment History</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/profile">Profile</a>
<br>

<a href="/logout">Log Out</a>
<br></br>

  <ol>
    <% current_doctor_user.appointments_with(@patient).each do |appointment| %>
      <li> <%=appointment.details[:start].strftime('%A')%> <%=appointment.details[:start].strftime('%v')%> at <%=appointment.details[:start].strftime('%R')%></li>
      <% appointment.details[:patients].each do |patient| %>
        <ul>
          <li>Patient: <%= patient.name %></li>
        </ul>
      <% end %>
      <br></br>
    <% end %>
  </ol>
