<h1>Your Profile</h1>

<a href="/doctors/<%=current_doctor_user.slug%>/home">Home</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/appointment_new">New Appointment</a>
<br>

<a href="/doctors/<%=current_doctor_user.slug%>/appointments_history">Appointment History</a>
<br>

<a href="/logout">Log Out</a>
<br></br>

<h3>Name: <%= current_doctor_user.name %></h3>
<p>Email: <%= current_doctor_user.email %></p>
<p>Specialties:
  <% current_doctor_user.specialties.all.each do |specialty| %>
    <%= specialty.name %>
  <% end %>
</p>

<a href="/<%=current_doctor_user.user_type.pluralize%>/<%=current_doctor_user.slug%>/profile/edit">Edit Profile</a>

<% if flash.has?(:notice) %>
  <h3><%= flash[:notice] %></h3>
<% end %>
